.container {
    max-width: 1440px;
    margin: 11px auto 0;
    background-color: rgba(227, 227, 201, 1);
    border-radius: 30px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.listEl {
    color: white;
}

.listEl a {
    font-size: 20px;
}

.listIcon a:not(:last-child) {
    margin-right: 23px;
}