.sss {
    background-image: url("../../../public/images/76700be74dee24942229dbb2c7983248 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

section h1 {
    padding: 31px;
    font-size: 32px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 84px;
}

.contanerProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contanerProduct:not(:last-child) {
    margin-right: 39px;
}

.btnLikeBucket {
    background-color: inherit;
    border: none;
    cursor: pointer;
}


.productImg {
    display: flex;
    flex-direction: column;
    padding: 54px 34px;
    background-color: #D9D9D9;
}

.btnDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.spanDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spanNone {
    font-size: 16px;
    text-decoration: line-through;
}

