.sec {
    background-image: url("../../../public/images/Group 48.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 141px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.text {
    width: 629px;
    text-align: center;
    color: white;
    padding-top: 168px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.btnDiv {
    padding: 19px 132px;
}

.btn {
    width: 429px;
    height: 66px;
    padding: 19px 132px;
    border-radius: 30px;
    background-color: #93A267;
}